<div>
  <h1>BLEVAL</h1>
  <h2>Aaron Washburn - May 2015</h2>
  <%= link_to 'Create new task', new_task_path %><br />
  <%= link_to 'Create new event', new_event_path %><br />
  <%= link_to 'Agents', agents_path %><br />
  <%= link_to 'Deals', deals_path %><br />
</div>