<h3>Triggers connected</h3>
<ul>
  <li>1. Update Tasks and Events for dead Deal</li>
  <li>3. Create Agent Task to respond to Lead contact</li>
  <li>5. Add projected closing Event after Deal created</li>
</ul>
<p> Interaction takes primarily within the show action for an individual agent.  Agent contact from lead takes place within the lead show action. </p>