<div>
  <h1>Event</h1>
  <ul>
    <li>Creator ID:<%= @event.creator_id %></li>
    <li>Assignee ID:<%= @event.assignee_id %></li>
    <li>Lead ID:<%= @event.lead_id %></li>
    <li>Deal ID:<%= @event.deal_id %></li>
  </ul>
</div>